@import "tailwindcss";

@theme {
    --background-primary: #ffffff;
    --foreground-primary: #171717;
    --background-secondary: #18181b;
    --border-primary: #27272a;
}

@media (prefers-color-scheme: dark) {
    @theme {
        --background-primary: #0a0a0a;
        --foreground-primary: #ededed;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--border-primary);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}